---
interface CtaItem {
    text: string;
    imgSrc: string;
    imgAlt: string;
    buttonHref: string;
}

interface CtaProps {
    title: string;
    subtitle: string;
    items: CtaItem[]; // 複数のCTAデータ
}

const { title, subtitle, items } = Astro.props as CtaProps;
---

<div class="l-container py-10" data-aos="fade" data-aos-delay="800" data-aos-duration="600">
    <h2 class="text-center en">{title}</h2>
    <h3 class="text-center font-copy">{subtitle}</h3>
    <div class="cta-image-link-group l-row l-inner sm:flex-col">
        {
            items.map((item, index) => (
                <div class="cta-image-link l-column l-column--6">
                    <a href={item.buttonHref} target="_blank" rel="noopener noreferrer" class="cta-image-link__wrapper">
                        <img src={item.imgSrc} alt={item.imgAlt} class="cta-image-link__img" />
                        <span class="cta-image-link__text">{item.text}</span>
                    </a>
                </div>
            ))
        }
    </div>
</div>
