---
//meta情報のインポート
import siteData from '../../siteData.mjs';

//baselayout.astro → currentPathの受け取り
const { class: className, currentPath, isTopPage } = Astro.props;
---

<header class={`l-header flex ${className ?? ''}`}>
    <div class="header__container l-container flex items-center px-6">
        <div class="header__inner flex w-full">
            <!-- ハンバーガーボタン（SP用） -->
            <button class="hamburger openbtn" aria-label="メニューを開く">
                <span></span><span></span><span></span>
            </button>
            <!-- PCナビ -->
            <nav class="header__nav pc-nav w-full flex items-center">
                <ul class="header__nav-inner l-row l-row--gap items-center font-bold justify-end">
                    <li class="l-column l-column--2 flex justify-center items-center">
                        <a href={siteData.home.path}
                            ><img src="/assets/image/logo_name.png" alt="" class="header__nav-icon block" />
                    <li class="l-column l-column--1"></li>
                    <li class="header__brush img-wrapper l-column l-column--1">
                        <img src="/assets/image/header_brush.png" alt="" class="header__nav-icon block" />
                    </li>
                    <li class="l-column l-column--2 flex justify-center items-center en hover-opacity">
                        <a href={siteData.home.path} class={currentPath === '/home' ? 'is-active' : ''}>home</a>
                    </li>
                    <li class="l-column l-column--1 flex justify-center items-center en hover-opacity">
                        <a href={siteData.about.path} class={currentPath === '/about' ? 'is-active' : ''}>about</a>
                    </li>
                    <li class="l-column l-column--2 flex justify-center items-center en hover-opacity">
                        <a href={siteData.works.path} class={currentPath === '/works' ? 'is-active' : ''}>works</a>
                    </li>
                    <li class="l-column l-column--1 flex justify-center items-center en hover-opacity">
                        <a href={siteData.columns.path} class={currentPath === '/columns' ? 'is-active' : ''}>columns</a
                        >
                    </li>
                    <li class="l-column l-column--2 flex justify-center items-center en hover-opacity">
                        <a href={siteData.contact.path} class={currentPath === '/contact' ? 'is-active' : ''}>contact</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- スマホナビ -->
    <nav id="global-nav" class="sp-nav font-bold">
        <ul>
            <li><a href={siteData.home.path}>HOME</a></li>
            <li><a href={siteData.about.path}>about</a></li>
            <li><a href={siteData.works.path}>works</a></li>
            <li><a href={siteData.columns.path}>columns</a></li>
            <li><a href={siteData.contact.path}>contact</a></li>
        </ul>
    </nav>
</header>
