---
import { pathHasLocale } from 'astro:i18n';
import siteData from '../../siteData.mjs';
import Button from '../components/Button';
---

<div class="intro l-container py-10 sm:pt-10 sm:pb-4">
    <div class="intro__inner l-inner flex flex-col justify-center items-center">
        <!-- 導入セクション -->
        <div data-aos="fade" data-aos-delay="200" data-aos-duration="600">
            <h2 class="font-copy text-center">想いを、かたちに。</h2>
            <h3 class="font-copy text-center">
                小さなお店や人の想いに寄り添い、 あたたかく伝わるデザインをつくります。
            </h3>
            <div class="img-wrapper flex items-center w-harf mx-auto py-4 sm:px-0 sm:mx-0 sm:w-full">
                <img src="/assets/image/intro.jpg" alt="" class="rounded-lg w-full" />
            </div>
            <div data-aos="fade" data-aos-delay="400" data-aos-duration="800">
                <p class="intro__inner intro__inner--desc py-6 text-center">
                    web制作やロゴ、メニュー、手書きポップまで。
                    私にしかできない“好き”をかけ合わせて、あたたかく伝わるデザインをつくります。
                    「ロゴを作って」「webページもほしい」「似顔絵も入れたい」――
                    そんなお客様の頭の中の“こうしたい”を、いろんな角度から丁寧に形にしていきます。
                    私自身、かつて移動販売でお店をしていた経験があり、
                    一つひとつ工夫しながらお店を育てていく楽しさを知りました。
                    だからこそ、今度はお客様の“想い”に寄り添いながら
                    世界にひとつだけのデザインづくりをお手伝いしたいと思っています。
                </p>
                <p class="intro__inner intro__inner--desc py-6 text-center">
                    だからこそ、今度はお客様の“想い”に寄り添いながら、世界にひとつだけのデザインづくりをお手伝いしたいと思っています。
                </p>
            </div>
        </div>

        <!-- できることの紹介 -->
        <div class="py-10" data-aos="fade" data-aos-delay="200" data-aos-duration="800">
            <h2 class="font-copy text-center">わたしにできること</h2>
            <h3 class="font-copy text-center">
                想いをかたちにする、あたたかいデザインでweb・ロゴ・メニュー・イラストなど、トータルでお手伝いしています。
            </h3>
            <div class="intro__btn-box flex justify-center items-center py-6 sm:px-6">
                <Button href={`${siteData.about.path}#web-design`} className="intro__btn btn--web" variant="primary">
                    <span>webデザイン</span>
                </Button>
                <Button
                    href={`${siteData.about.path}#graphic-design`}
                    className="intro__btn btn--grf"
                    variant="primary"
                >
                    <span>グラフィック</span>
                </Button>

                <Button href={`${siteData.about.path}#illust`} className="intro__btn btn--illust" variant="primary">
                    <span>イラスト</span>
                </Button>
                <Button href={`${siteData.about.path}#pop`} className="intro__btn btn--pop" variant="primary">
                    <span>手書きPOP</span>
                </Button>
            </div>
            <div class="flex justify-end">
                <Button href={siteData.about.path} className="service__btn" variant="secondary">
                    <span>詳しく見る ＞ </span>
                </Button>
            </div>
        </div>
    </div>
</div>
