---
interface ServicesItem {
    image: string;
    alt: string;
    id: string;
    aos: string;
    delay: number;
    duration: number;
    pointTitle: string;
    pointSubTitle: string;
    text: string;
}

const { title, items } = Astro.props as {
    title: string;
    items: ServicesItem[];
};
---

<!--以下で呼び出し
<Services
        title="見出しh2"
        items={[
            {
                image: '/assets/image/sample_img.jpg',
                alt: 'サンプル画像1',
                pointNumber: 1,
                pointTitle: '見出しh3-1',
                text: 'テキストが入ります。テキストが入ります。...'
            }
        ]}
    /> -->
<section class="services l-wrapper">
    <div class="service__container l-container py-10 px-6 sm:px-10">
        <!-- serviceタイトル -->
        <div data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
            <h2 class="en text-center">
                {title}
            </h2>
        </div>

        <!-- service内容各種（index.astroから呼び出し） -->
        {
            items.map((item, index) => (
                <div class="l-inner sm:px-0">
                    <div
                        id={item.id}
                        data-aos={item.aos}
                        data-aos-delay={item.delay}
                        data-aos-duration={item.duration}
                        class={[
                            'services__item', // 共通のベースクラス
                            'l-row',
                            'l-row--gap',
                            'justify-center', // 水平方向中央寄せ
                            'items-center', //水平方向中央寄せ
                            'flex-row', // 水平方向中央寄せ
                            'py-6',
                            'px-6',
                            'sm:flex-col-reverse', // スマホ表示で縦並びに
                            'sm:px-0',
                            index % 2 === 0 ? 'flex-reverse' : '' // 奇数番目のアイテムだけ flex-reverse クラスを付ける
                        ].join(' ')}
                    >
                        <div class="service__img-wrapper img-wrapper l-column l-column--6">
                            <img src={item.image} alt={item.alt} class="item__img block" />
                        </div>
                        <div class="service__item-text l-column l-column--6 sm:text-center">
                            <h3 class="font-bold">{item.pointTitle}</h3>
                            <h4 class="font-bold">{item.pointSubTitle}</h4>
                            <p class="pt-4">{item.text}</p>
                        </div>
                    </div>
                </div>
            ))
        }

        <!-- service内容まとめ -->
        <div class="pt-10" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
            <h2 class="text-center font-copy">トータルデザインサポート</h2>
            <h3 class="text-center font-copy">
                <span class="heading-gradient heading-gradient--midium"
                    >「ロゴも、サイトも、看板も」――まとめて考えたい方のサポート</span
                >
            </h3>
            <p class="text-center pt-4">「ロゴも必要だし、サイトも作りたいけど、 何から考えたらいいかわからない」</p>
            <p class="text-center">そんな困りごとを、一緒に解決していくサポートです。</p>
            <p class="text-center">ふんわりしたイメージでも大丈夫。</p>
            <p class="text-center">必要なものを見極めながら、 ひとつの流れとして形にしていきます。</p>
        </div>
    </div>
</section>
