---
interface ServicesItem {
    image: string;
    alt: string;
    pointNumber: number;
    pointTitle: string;
    text: string;
}

const { title, items } = Astro.props as {
    title: string;
    items: ServicesItem[];
};
---

<!--以下で呼び出し
<Services
        title="見出しh2"
        items={[
            {
                image: '/assets/image/sample_img.jpg',
                alt: 'サンプル画像1',
                pointNumber: 1,
                pointTitle: '見出しh3-1',
                text: 'テキストが入ります。テキストが入ります。...'
            }
        ]}
    /> -->
<section id="services" class="services__section l-wrapper">
    <div class="l-container py-10 px-6">
        <h2 class="text-center">
            {title}
        </h2>

        {
            items.map((item, index) => (
                <div class="l-inner">
                    <div
                        class={[
                            'services__item', // 共通のベースクラス
                            'l-row',
                            'l-row--gap', // Flexbox 有効化
                            'justify-center', // 水平方向中央寄せ
                            'items-center',//水平方向中央寄せ
                            'flex-row', // 水平方向中央寄せ
                            'py-6',
                            'px-6',
                            'sm:flex-col-reverse', // スマホ表示で縦並びに
                            index % 2 === 0 ? 'flex-reverse' : '' // 奇数番目のアイテムだけ flex-reverse クラスを付ける
                        ].join(' ')}
                    >
                        <div class="service__img-wrapper img-wrapper l-column l-column--6">
                            <img src={item.image} alt={item.alt} class="item__img block" />
                        </div>
                        <div class="item__text l-column l-column--6 sm:text-center">
                            <p class="en font-bold">
                                service<span>{item.pointNumber}</span>
                            </p>
                            <h3 class="lead font-bold">{item.pointTitle}</h3>
                            <p class="pt-4">{item.text}</p>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>