---
interface CardItem {
    img: string;
    text: string;
    link: string;
}

interface Props {
    title: string;
    tabData: {
        label: string;
        items: CardItem[];
    }[];
}

const { title, tabData } = Astro.props;
---
<!-- 以下で呼び出し
<TabbedSection
        title="タイトル"
        tabData={[
            {
                label: 'ラベルテキスト１',
                items: [
                    {
                        img: '/assets/image/sample_img.jpg',
                        text: 'テキスト',
                        link: '#'
                    },
                    {
                        img: '/assets/image/sample_img.jpg',
                        text: 'テキスト',
                        link: '#'
                    },
                    {
                        img: '/assets/image/sample_img.jpg',
                        text: 'テキスト',
                        link: '#'
                    },
                    {
                        img: '/assets/image/sample_img.jpg',
                        text: 'テキスト',
                        link: '#'
                    }
                ]
            },
            {
                label: 'ラベルテキスト２',
                items: [
                    {
                        img: '/assets/image/test_img01.jpg',
                        text: 'テキスト',
                        link: '#'
                    },
                    {
                        img: '/assets/image/test_img01.jpg',
                        text: 'テキスト',
                        link: '#'
                    },
                    {
                        img: '/assets/image/test_img01.jpg',
                        text: 'テキスト',
                        link: '#'
                    },
                    {
                        img: '/assets/image/test_img01.jpg',
                        text: 'テキスト',
                        link: '#'
                    }
                ]
            }
        ]}
    />
-->
<section id="tab" class="tab__section l-wrapper">
    <div class="l-container py-10 px-6">
        <h2 class="text-center mb-4">{title}</h2>
        <div class="tab__wrapper">
            <div class="tab__menu">
                <div class="tab__buttons">
                    {
                        tabData.map((tab, index) => (
                            <button class={`tab__button ${index === 0 ? 'active' : ''}`}>{tab.label}</button>
                        ))
                    }
                </div>

                {
                    tabData.map((tab, index) => (
                        <div class={`tab__panel ${index === 0 ? 'active' : ''}`}>
                            <div class="tab__contents">
                                <div class="tab__column">
                                    {tab.items.slice(0, 2).map((item) => (
                                        <a href={item.link} class="card__link">
                                            <div class="img__wrapper">
                                                <img src={item.img} alt="" />
                                            </div>
                                            <p>{item.text}</p>
                                        </a>
                                    ))}
                                </div>
                                <div class="tab__column">
                                    {tab.items.slice(2).map((item) => (
                                        <a href={item.link} class="card__link">
                                            <div class="img__wrapper">
                                                <img src={item.img} alt="" />
                                            </div>
                                            <p>{item.text}</p>
                                        </a>
                                    ))}
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>